.wheel_preview { background:#f6f6f6; border-bottom:#616d73 2px solid; color:#333; margin:5px 0; padding:20px 8px; min-height:200px }

#draw_preview ul { display: inline; }
#draw_preview ul li { display: inline; float: left; width: 200px; padding-right: 10px; padding-bottom: 10px; }
#draw_preview ul li input { height: 17px; width: 170px;}
#draw_preview ul li img { vertical-align: middle; }

#sliders { margin-top: 10px; }
#sliders .slider { width:480px; margin: 10px }

#left { float: left; width: 500px; }

#right { float: right; width: 420px; padding-left: 10px; font-size: 0.8em; }