<% content_for :head do %>
  <script type="text/javascript">
  $(function() { initUserForm(); });
  </script>
<% end %>

<div id="Main_Table">

	<table id="TopTable" cellpadding="0" cellspacing="0">
		<tr><td class="bleft"></td><td class="bmid"></td><td class="bright"></td></tr>
	</table><!-- /TopTable -->

	<!--<div id="TopTitle">Edit Settings</div> /TopTitle -->

  <div id="tabs">
    <ul>
      <li><a href="#tabs-password">Password</a></li>
      <li><a href="#tabs-channels">Channels</a></li>
    </ul>
  </div>

	<div class="menu_content">
    <div id="tabs-password">
      <%= render 'change_password' %>
    </div>
    <div id="tabs-channels">
      <%= render 'channels' %>
    </div>
  </div><!-- /menu_content -->
</div><!-- /Main_Table -->
