<h4>General information</h4>

<p>
	<%= f.label :name %><br/>
	<%= f.text_field :name %><br/>
</p>
<p>
	<%= f.label :url_callback, 'URL callback <a href="http://code.google.com/p/reportingwheel/wiki/API#Callback" target="_blank"><img src="/images/question.png" width="14" height="14"/></a>' %><br/>
	<%= f.text_field :url_callback, :size => 75 %>
</p>
