<ul>
<% f.fields_for :render_configuration do |c| %>
	<% @wheel.render_configuration.to_a.sort_by{|x| Wheel.render_configuration_order x[0] }.each do |key, value| %>
	<li>
		<%= Wheel.render_configuration_description key %><br/>
		<%= c.text_field key, :value => value, :id => "pc_#{key}" %> <%= link_to_function 'X', "$('#pc_#{key}').val('#{Wheel::DefaultRenderConfiguration[key]}')" %>
	</li>
	<% end %>
<% end %>
</ul>