<div id="labels">
	<div class="title_two">Each label with its values will be printed in a disc of a wheel.</div><!-- /title_two -->

	<div>
		Label<br />
		<input type="text" class="medsize" id="label_name" placeholder="Enter a new label" />
		<%= button_to_add_label "Add Label", f, :wheel_rows %>
	</div>

	<br/>
	
	<ul id="labels_list">
		<%= f.fields_for :wheel_rows do |builder| %>
			<%= render 'wheel_row_fields', :f => builder %>
		<% end %>
	</ul>
</div>