<h4><%= link_to_function 'Values to report', "toggle('values_to_report')" %></h4>

<div id="values_to_report">

<div class="description">Each label with its values will be printed in a disc of a wheel.</div>

<% f.fields_for :wheel_rows do |builder| %>
	<%= render 'wheel_row_fields', :f => builder %>
<% end %>
<p><%= link_to_add_fields "Add label", f, :wheel_rows %></p>

</div>
