<span class="value">
	<span onclick="javascript:edit_field(this);"><%= f.object.value %></span>
	<%= f.text_field :value, :class => "smallsize hidden value_name" %>	
	<%= link_to_remove_value f %>
</span>