<%= f.hidden_field :index %>
<p>
	<%= f.label :label %><br/>
	<%= f.text_field :label %>
</p>
<% f.fields_for :wheel_values do |builder| %>
	<% render 'wheel_value_fields', :f => builder %>
<% end %>
<p><%= link_to_add_fields "Add Value", f, :wheel_values %></p>