<h2><%= link_to 'Create a new Wheel!', :action => :new %></h2>

<table border="1">
	<tr>
		<th>Wheel Name</th>
		<th>Actions</th>
	</tr>
	<% @wheels.each do |wheel| %>
		<tr>
			<td><%= link_to wheel.name, :action => :show, :id => wheel.id %></td>
			<td>
			  <%= link_to 'edit', :action => :edit, :id => wheel.id %>
			  <%= link_to 'download', :action => :draw, :id => wheel.id %>
			</td>
		</tr>
	<% end %>
</table>
