.row-fluid
  .span12
    %h3
      Reporting Wheels

.row-fluid
  .span6
    - simple_list :wheel, title: 'My Wheels',icon: :folder, create_path: {:action => 'new'} do
      - @wheels.each_with_index do |wheel, i|
        - simple_list_item wheel.name, {action: :show, id: wheel.id}
