<h2>Create a new Wheel</h2>

<% form_for @wheel, :url => {:action => :create} do |builder| %>
	<%= render 'form', :f => builder %>
<% end %>

<%= link_to 'Go back', :controller => :wheel, :action => :index %>
