<% form_for @wheel, :url => {:action => :create} do |builder| %>
	<%= render 'form', :f => builder %>
	<p>
		<%= builder.submit "Create Wheel" %>
	</p>
<% end %>

<%= link_to 'Go back', :controller => :wheel, :action => :index %>
