- content_for :html_title do
  Reporting Wheel

- content_for :app_name do
  Reporting Wheel

- add_body_class "noheader centred smallfooter"

- content_for :app_logo do
  = image_tag "instedd-bootstrap/header/logos/guisso.png"


= render template: 'instedd/application'

